// 背景颜色
$main-bg: #20252c;

// 字体颜色
$main-color: #fff;

//基础尺寸
$atom-length: 1px;
$base-length: 10px;
$base-length: 10px;
$medium-length: 15px;
$big-length: 20px;
$biger-length: 25px;

//字体大小
$base-font: 14px;
$small-font: 12px;
$medium-font: 16px;
$big-font: 20px;
$biger-font: 24px;

$mian-unac-font: #909399;

$zindex-navbar-fixed: 2000;
