@import "variables.scss";
@import "mixins.scss";

body, p, h4{
  margin: 0 !important;
}

.el-row {
  margin-left: $base-length !important;
  margin-right: $base-length !important;
}

// core-element.css样式——开始
.el-form--inline .el-form-item {
  display: inline-flex !important;
}

.el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__item:last-child .el-breadcrumb__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover, .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
  color: #666;
  font-size: 14px;
}

.el-form-item__label{
  flex-white-space : nowrap !important;
  white-space:nowrap !important;
}

.el-form-item__label, .el-form-item__content, .el-input__inner, .el-input--small,
.el-select-dropdown__item, .el-select-dropdown__empty, .el-dropdown-menu--small, .el-dropdown-menu__item {
  font-size: 12px !important;
}

.el-dropdown {
  color: $main-color;
  line-height: $base-length * 4;
}

.plate-theme .el-color-picker--mini .el-color-picker__trigger {
  height: $base-length * 2.5;
  width: $base-length * 2.5;
}

.plate-theme .el-input-group__append, .el-input-group__prepend {
  padding: 0 $base-length * .8
}

// core-element.css样式——结束

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.el-breadcrumb__inner a, .el-breadcrumb__inner.is-link {
  color: #fff;
}

.el-breadcrumb {
  line-height: 3;
}

.el-breadcrumb__inner {
  color: #fff;
}

.inlineBox {
  display: inline-block;
  margin: $base-length * .4;
}

.medium-title {
  font-size: $medium-font !important;
}

.el-tooltip__popper.is-light {
  border: 1px solid #EBEEF5 !important;
  background: #ecf5ff !important;
  color: #606266;
}

.el-tooltip__popper .popper__arrow {
  top: 34px !important;
  border-top-color: #ecf5ff !important;
}

.el-tooltip__popper .popper__arrow:after {
  border-top-color: #ecf5ff !important;
}

.hover-row > td {
  background: #ecf5ff !important;
}

.el-menu--vertical {
  width: 64px !important;
  ul {
    width: 64px !important;
    li {
      .el-menu-item-group__title {
        padding: 0 !important;
      }
    }
  }
  .el-menu--popup-right-start {
    padding: 0 !important;
    width: 64px !important;
    margin: 1px !important;
  }
}

.el-menu--vertical > ul {
  width: 64px !important;
  min-width: 64px !important;
}

.el-menu-item-group {
  width: 64px !important;
}

.el-menu-item i, .el-submenu__title i {
  color: #63676C;
}

.el-submenu .el-menu-item {
  padding: 0 20px;
}

// 界面优化样式
.baseBlue, .baseGreen, .baseRed, .baseGray, .baseBlue:hover, .baseGreen:hover, .baseRed:hover, .baseGray:hover .baseBlue:focus, .baseGreen:focus, .baseRed:focus, .baseGray:focus {
  color: #fff !important;
}

.baseBlue, .baseBlue:focus {
  background: #0086FF;
  border-color: #0086FF;
}

.baseGreen, .baseGreen:focus {
  background: #0A9B4D;
  border-color: #0A9B4D;
}

.baseRed, .baseRed:focus {
  background: #f15e5e;
  border-color: #f15e5e;
}

.baseGray, .baseGray:focus {
  background: #989898;
  border-color: #989898;
}

.baseBlue:hover {
  background: #409EFF;
  border-color: #409EFF;
}

.baseGreen:hover {
  background: #14b960;
  border-color: #14b960;
}

.baseRed:hover {
  background: #ec8c8c;
  border-color: #ec8c8c;
}

.baseGray:hover {
  background: #aaa;
  border-color: #aaa;
}

.baseBlue .is-disabled, .baseBlue .is-disabled:focus, .baseBlue .is-disabled:hover {
  color: #fff !important;
  cursor: not-allowed !important;
  background-image: none !important;
  background-color: #409EFF !important;
  border-color: #409EFF !important;
}

.baseGreen .is-disabled, .baseGreen .is-disabled:focus, .baseGreen .is-disabled:hover {
  color: #fff !important;
  cursor: not-allowed !important;
  background-image: none !important;
  background-color: #14b960 !important;
  border-color: #14b960 !important;
}

.baseRed.is-disabled, .baseRed.is-disabled:focus, .baseRed.is-disabled:hover {
  color: #fff !important;
  cursor: not-allowed !important;
  background-image: none !important;
  background-color: #ec8c8c !important;
  border-color: #ec8c8c !important;
}

.el-dialog {
  border-radius: 6px;
}

.el-dialog__header {
  padding: 10px 20px 10px;
  background-color: #0086FF;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.el-dialog__title, .el-dialog__headerbtn .el-dialog__close {
  font-size: 16px;
  color: #fff;
}

.el-dialog__headerbtn:hover .el-dialog__close {
  color: #eee;
}

.el-dialog__headerbtn {
  top: 10px;
}

// 模态框左侧蓝色竖线
.leftLine {
  height: 15px;
  line-height: 15px;
  margin-bottom: 18px;
  color: #0086FF;
}

.leftLine > i {
  display: inline-block;
  width: 3px;
  height: 14px;
  margin-right: 8px;
  border-radius: 1px;
  vertical-align: top;
  background: #0086FF;
}

.el-tabs__item.is-active, .el-tabs__item:hover {
  color: #0086FF;
}

// 删除提示框样式修改
.el-message-box {
  width: 350px;
  border-radius: 6px;
  border: none;
}

.el-message-box__header {
  padding: 10px 20px;
  background: #0086ff;
}

.el-message-box__title {
  color: #fff;
  font-size: 16px;
}

.el-message-box__headerbtn {
  top: 7px;
}

.el-message-box__headerbtn .el-message-box__close {
  color: #fff;
}

.el-message-box__content {
  padding: 10px 15px 15px;
}

.el-message-box__status {
  left: 42%;
  top: 42%;
  font-size: 45px !important;
}

.el-message-box__status+.el-message-box__message {
  padding: 0;
}

.el-message-box__message {
  margin-top: 70px;
  padding: 0;
  text-align: center;
}

.el-message-box__message p {
  line-height: 20px;
  padding-top: 15px;
}

.el-message-box__btns .el-button {
  color:#fff;
  background: #989898;
  border-color: #989898;
}

.el-message-box__btns .el-button:hover {
  color:#fff;
  background: #aaa;
  border-color: #aaa;
}

.el-message-box__btns .el-button:focus {
  color:#fff;
  background: #989898;
  border-color: #989898;
}

.el-message-box__btns button:nth-child(2) {
  color:#fff;
  background: #0086ff;
  border-color: #0086ff;
}

.el-message-box__btns button:nth-child(2):hover {
  color:#fff;
  background: #409EFF;
  border-color: #409EFF;
}

.el-message-box__btns button:nth-child(2):focus {
  color:#fff;
  background: #0086ff;
  border-color: #0086ff;
}

.el-cascader-menu__item {
  font-size: 12px;
}

.el-tag--primary, .el-button--text {
  color: #0086ff;
}

.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover, .el-tag--primary:hover, .el-button--text:hover {
  color:#409EFF;
}

.el-dropdown-menu--small {
  padding: 0;
}

.el-popper[x-placement^=bottom] .popper__arrow {
  top: -7px;
}
