// 背景颜色
$main-bg: #20252c;
$main-nav: rgb(57,70,79);
$layout-bg: rgb(57,70,79);
$home-card: #eee;
$container-bg: #fff;
$home-nav: #eee;
$report-main-bg: #fff;
$auth-bg: #5a99de;
//$auth-bg: #20252d;


// 边框颜色
$table-border: #666;
// 字体颜色
$main-color: #fff;
$table-font: #000;

//基础尺寸
$atom-length: 1px;
$base-length: 10px;
$smaller-length: 10px;
$small-length: 12px;
$primary-length: 25px 15px 15px;
$medium-length: 15px;
//$medium-length: 18px;
$big-length: 20px;
$biger-length: 25px;
$base: 1px;

//字体大小
$base-font: 14px;
$small-font: 12px;
$smaller-font: 10px;
$medium-font: 16px;
$big-font: 20px;
$biger-font: 24px;
//$biger-font: 30px;
$mian-unac-font: 14px;

$mian-unac-font: #909399;

$zindex-navbar-fixed: 2000;

